/Quellen/
/Prüfungsleistung.png
*.tex.bak
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.pdf
/Poster-Paper/comment.cut
/Poster-Paper/sample-base.bib.bak
/Poster-Paper/sample-sigconf-blx.bib
/Poster-Paper/sample-sigconf.xcp
!/Poster-Paper/sampleteaser.pdf